.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $vp-1023) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $vp-767) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &--description {
    display: flex;
    justify-content: space-between;

    @media (max-width: $vp-767) {
      display: block;
    }
  }

  &--features {
    padding-top: 88px;
    padding-bottom: 106px;

    @media (max-width: $vp-1023) {
      padding-top: 68px;
      padding-bottom: 84px;
    }

    @media (max-width: $vp-767) {
      padding-top: 38px;
      padding-bottom: 49px;
    }
  }

  &--catalog {
    padding-top: 62px;
    padding-bottom: 104px;

    @media (max-width: $vp-1023) {
      padding-top: 70px;
      padding-bottom: 84px;
    }

    @media (max-width: $vp-767) {
      padding-top: 38px;
      padding-bottom: 49px;
    }
  }

  &--booking {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width: $vp-1023) {
      padding-top: 62px;
      padding-bottom: 118px;
      display: block;
      text-align: center;
    }

    @media (max-width: $vp-767) {
      padding-top: 33px;
      padding-bottom: 83px;
    }
  }

  &--contacts {
    padding-top: 120px;
    padding-bottom: 113px;
    display: grid;
    grid-template-columns: 560px auto;
    gap: 100px;
    align-items: center;

    @media (max-width: $vp-1023) {
      padding-top: 82px;
      padding-bottom: 93px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @media (max-width: $vp-767) {
      padding-top: 25px;
      padding-bottom: 58px;
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &--footer {
    display: flex;

    @media (max-width: $vp-767) {
      flex-direction: column;
    }
  }
}
