.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $vp-1023) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $vp-767) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &--description {
    display: flex;
    justify-content: space-between;

    @media (max-width: $vp-767) {
      display: block;
    }
  }

  &--features {
    padding-top: 88px;
    padding-bottom: 106px;

    @media (max-width: $vp-1023) {
      padding-top: 68px;
      padding-bottom: 84px;
    }

    @media (max-width: $vp-767) {
      padding-top: 38px;
      padding-bottom: 49px;
    }
  }

  &--catalog {
    padding-top: 62px;
    padding-bottom: 104px;

    @media (max-width: $vp-1023) {
      padding-top: 70px;
      padding-bottom: 84px;
    }

    @media (max-width: $vp-767) {
      padding-top: 38px;
      padding-bottom: 49px;
    }
  }

  &--footer {
    display: flex;

    @media (max-width: $vp-767) {
      flex-direction: column;
    }
  }
}
